/*
Theme Name: Hemingway HPP
Template: hemingway
Author: Madeleine Holgersson
License: GNU General Public License version 2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/*
Colors used in this child theme:
Association color: #326e7f
Lighter shade in menu and links: #467c8b
Light shade credits: #d9e1d7
Dark shade in header section: #444
*/

/*Change the color of the header block*/
.blog-info {
    background: #326e7f;
}

.blog-title a:hover {
    color: #444;
}

/*Change the color of menu div*/
.section.bg-dark {
    background: #326e7f;
}

.blog-menu ul li {
    background: #467c8b;
}

.blog-menu li:hover a {
    background-color: #467c8b;
}

/*Change the color of the links.*/
body a {
    color: #467c8b;
}

body a:hover {
    color: #467c8b;
}

/*Change the color of the links in meta for posts*/
.post-meta a:hover {
    color: #467c8b;
}

/*Change background color for selected text area*/
::selection {
    background: #326e7f;
    color: #fff;
}

/*Change color of the credits in footer section*/
.credits, .credits a {
    color: #d9e1d7;
}

.credits, .credits a:hover {
    color: #fff;
	  }

/*Remove the footer section by css. NOTE! No widgets in footer possible!*/
.footer.section.large-padding.bg-dark {
    height: 0px;
    padding: 0px;
}


/*Change color responsive layouts*/
.toggle-container {
    background: #326e7f;
}

.search-toggle .glass {
    background: #326e7f;
}

.nav-toggle .bar {
    background: #444;
}

.search-toggle .metal {
    background: #444;
}

.search-toggle .handle {
    background: #444;
}

.mobile-menu a {
    background: #326e7f;
}

.blog-search, .navigation {
    background: #326e7f;
}

.blog-search #searchsubmit {
    background: #444;
    border: 1px solid #444;
}

.blog-search #searchsubmit:hover {
    background: #666;
    border: 1px solid #666;
}
